<router-outlet></router-outlet>
    <div style="position: relative; left: 20%; width: 77%;" class="jumbotron row">
        <div style="width: 50%;">
          <app-listar-medico></app-listar-medico>
          <app-editar-medico></app-editar-medico>
        </div>
        <div style="width: 40%; left: 5%; position: relative;">
          <app-crear-medico *ngIf="!tomar()" ></app-crear-medico>
          <app-detalle-medico *ngIf="tomar()"  ></app-detalle-medico>
          
        </div>
      </div>






