<app-administrador></app-administrador>

<h1>hola</h1>

<div class="contenedor">

  <mat-form-field class="example-full-width">
    <mat-label>Cedula</mat-label>
    <input matInput  placeholder="Ej. 1000111222">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Nombre">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Apellido">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Teléfono">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Médico">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Dirección">
  </mat-form-field>

  <div class="example-button-row">
    <button mat-flat-button color="primary" type="submit">Guardar</button>
  </div>
</div>
