



<form [formGroup]="servicioService.formularioRegistroPaciente" (ngSubmit)="onSubmit()">
    <div class="contenedor">

      <input type="text" formControlName="id" name="id" >
      <mat-form-field class="example-full-width">
        <mat-label>Cedula</mat-label>
        <input matInput  placeholder="Ej. 1000111222" formControlName="cedula" name="cedula">
      </mat-form-field>

      <!--Mensajes de error-->
      <div class="alert alert-primary" *ngIf="cedula.invalid && (cedula.touched || cedula.dirty)">

        <div *ngIf="cedula.hasError('required')">
          La cédula es requerida
        </div>

      </div>




    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Nombre" formControlName="nombre" name="nombre">
    </mat-form-field>

    <div class="alert alert-primary" *ngIf="nombre.invalid && (nombre.touched || nombre.dirty)">

      <div *ngIf="nombre.hasError('required')">
        El nombre es requerido
      </div>

    </div>


    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="apellido" formControlName="apellido" name="apellido">
    </mat-form-field>

    <div class="alert alert-primary" *ngIf="apellido.invalid && (apellido.touched || apellido.dirty)">

      <div *ngIf="apellido.hasError('required')">
        Apellidos requeridos
      </div>

    </div>


    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Teléfono" formControlName="telefono" name="telefono">
    </mat-form-field>

    <div class="alert alert-primary" *ngIf="telefono.invalid && (telefono.touched || telefono.dirty)">

      <div *ngIf="telefono.hasError('required')">
        Teléfono es requerido
      </div>

    </div>

    <mat-form-field class="example-full-width">
      <input matInput type="email" placeholder="E-mail" formControlName="correo" name="correo">
    </mat-form-field>

    <div class="alert alert-primary" *ngIf="correo.invalid && (correo.touched || correo.dirty)">

      <div *ngIf="correo.hasError('required')">
        El correo electrónico es requerido
      </div>

    </div>

    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Médico" formControlName="medico" name="medico">
    </mat-form-field>

    <div class="alert alert-primary" *ngIf="medico.invalid && (medico.touched || medico.dirty)">

      <div *ngIf="medico.hasError('required')">
        El médico es obligatorio
      </div>

    </div>

    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Dirección" formControlName="direccion" name="direccion">
    </mat-form-field>

    <div class="alert alert-primary" *ngIf="direccion.invalid && (direccion.touched || direccion.dirty)">

      <div *ngIf="direccion.hasError('required')">
        Dirección solicitada
      </div>

    </div>

    <div class="example-button-row">
      <button mat-flat-button color="primary"  type="submit">Guardar</button>
      <a [routerLink]="['/administrador/paciente/crear-paciente/crear-paciente.component.html']">Ver lista</a>
      <a href="/administrador/paciente/crear-paciente/crear-paciente.component.html">Ver lista</a>
    </div>
  </div>
</form>

